._papadmin_menu li {
    display: inline-block;
    padding: 0 20px;
}
._papadmin_menu li.active {
    font-weight: bold;
    color: #007bff;
}
.-pap-settings-form {
    border: 3px solid #8e9fde;
    background: #d7dce4;
    padding: 20px;
}
#pap_1_config_form {
    background: yellow;
}
.-pap-shortcode-wrapper button {
    background: #0b7dbe;
    color: #fff;
    border: 4px solid #80bdff;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}